#!/bin/sh
echo ">>>  Initialisation script processing"
if [ -f "/app/certs/win2016-sp.cer" ]; then
    echo "Init keystore"
    keytool -importcert -noprompt -alias startssl -keystore /etc/ssl/certs/java/cacerts -storepass changeit -file /app/certs/win2016-sp.cer
    # keytool -keystore /etc/ssl/certs/java/cacerts -storepass changeit -list | grep startssl
fi